p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h3{
    color: chocolate;
}
.WOW h3{
    color: rgb(8, 102, 102);
}
#AhhA{
    color: midnightblue;
}
.Nice{
    margin-left: 50%;
    margin-top: 10%;
}